* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  background: rgb(22,19,20);
  background: radial-gradient(circle, rgb(19, 19, 22) 0%, rgba(42,102,45,1) 100%);
  max-height: calc(100% - 90px);
}

.top-bar {
  display: flex;
  flex-direction: column;
  background-color:#201f1f;
  font-size: 25px;
  color: greenyellow;
  height: 90px;
}

.loginHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px; 
  margin: 0
}

.page-title {
  margin-left: 15px;
}

.cash {
  display: flex;
  justify-content: flex-end;
  color: greenyellow;
  margin-right: 15px;
}

.select-container, .button {
  border: none;
  background: none;
  color: greenyellow
}

.button {
  font-size: 25px;
}

.button:hover {
  color: red
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.lower-bar {
  display: flex;
  flex-direction: row;
  color: greenyellow;
  font-family: "papyrus";
  font-size: 18px;
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  width: 100vw;
}

.grid-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 15px;
  width: 100%;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #201f1f;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 500px;
  border: 1px solid black;
  color: greenyellow;
  font-family: "papyrus";
  overflow: scroll;
  overflow-x: hidden;
}

.dest-img {
  height: 200px;
  width: 300px;
}

.card-top {
  height: 200px;
}

.card-middle {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.card-bottom, .playlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.pending, .past {
  font-size: 25px;
}

.post-form {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-left: 15px;
  width: 100%;
}

.input {
  width: 105px;
}

option {
  font-size: 8px;
  height: 80px;
}

.hidden {
  display: none;
}